body {
  font-family: "Arial", sans-serif;
}

h1{
  font-size: 2em;
  padding-top: 5px;
}

h1:hover {
  color: #a9e461;
}

button{
  background-color: rgb(138, 214, 33);
  font-family: "Permanent Marker", cursive;
  border-radius: 5px;
  border-color: rgb(138, 214, 33);
  cursor: pointer;
}

section {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}

.cell {
  font-family: "Permanent Marker", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #33ab03;
  border: 1px solid #35560d;
  cursor: pointer;

  line-height: 100px;
  font-size: 60px;
}

